.category-container {
  /* background-color: lightpink; */
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  width: 80px;
}

  .category-pictures {
    width: 52px;
    margin-bottom: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 35px;
  }
  
  .category-pictures:hover {
    background-color: rgba(128, 128, 128, 0.241);
    border-radius: 35px;
    padding: 5px;

  }


  