.register-button,
.login-button {
  width: 250px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-bottom: 8px;
}

.register-button {
  background-color: black;
  color: white;
}

.login-button {
  margin-bottom: 25px;
}


.sign-in-button-dish {
  border-radius: 18px;
  font-size: 15px;
  border: none;
  padding: 9px 10px;
  border-radius: 16px;
  margin-left: 12px;

}

.sign-in-button-home {
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 12px 15px;
}

.sign-in-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.sign-in-text-dish {
  margin: 0;
}


.sign-in-text-home {
  margin: 0;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}

.user-img {
  width: 20px;
  margin-right: 5px;
}



.sign-up-button-home {
  color: white;
  background-color: black;
  border: none;
  border-radius: 20px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 15px;
}


.sign-up-button-dish {
  font-size: 15px;
  border: none;
  padding: 9px 10px;
  border-radius: 18px;
  margin-left: 12px;
}


