body {
  margin-top: 96px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Roboto', sans-serif;
  
}

h1, h2, p, a {
  margin: 0px;
  /* text-decoration: none; */
}

button, a, svg, select {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: none;
  z-index: 5;
}

