.transparent-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(252,201,14);
  height: 96px;
  flex-direction: row;
}

.middlepart-with-background {
  display: flex;
  align-items: center;
  background-color: rgb(252,201,14);
  height: 827px;
}