.middlepart-with-countrys-row {
  display: block;
  /* background-color: lightcoral; */
}

.middlepart-with-countrys-header {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.country-grid-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 24px;
  margin-bottom: 23px;
}



