.filter {
  /* background-color: lightcyan; */
  margin-left: 41px;
  width: 450px;
  
}

.sort-dropdown-container,
.ubereats-dropdown-container,
.prices-dropdown-container,
.deliveryfee-dropdown-container,
.diet-dropdown-container {
  display: flex;
  margin-top: 30px;
}

.dropdown-text {
  font-size: 18px;
  margin-right: 80px;
}

.sort-dropdown-values,
.ubereats-dropdown-values,
.prices-dropdown-values,
.deliveryfee-dropdown-values,
.diet-dropdown-values {
  margin-top: 15px;
}

.ubereats-dropdown-values {
  display: flex;
  flex-direction: row;
}

.sort-dropdown-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-dropdown {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  margin-bottom: 3px;
  border-color: black;
  background-color: lightgray;
}

.sort-dropdown:checked {
  border-color: black;
  background-color: black;
}


.prices-dropdown-values, 
.diet-dropdown-values {
  display: flex;
  flex-direction: row;
}

.diet-button,
.price-button {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  border: none;
  margin-right: 10px;
  padding: 10px 15px;
  border-radius: 15px;
}

.diet-button-icon,
.best-ones-img {
  height: 15px;
  margin-right: 2px;
}

.restaurants {
  /* background-color: lightgreen; */
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  margin-right: 35px;
  margin-bottom: 50px;
  margin-top: 30px;
}

@media screen and (max-width: 1700px) {
  .restaurants {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1250px) {
  .restaurants {
    grid-template-columns: 1fr 1fr;
  }
}

.restaurant-container {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
}

.restaurant-img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 8px;
}

.restaurant-name-rating-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  margin-left: 2px;
}

.restaurant-name {
  margin: 0;
}

.restaurant-rating-average {
  font-size: 13px;
  background-color: rgba(128, 128, 128, 0.19);
  padding: 6px 5px;
  border-radius: 30px;
  border: none;
}

.restaurant-delivery-fee {
  font-size: 13px;
  margin-left: 2px;
}