
.h-header-left {
  margin-left: 35px;
  
  display: flex;
  align-items: center;
}

.burger-menu {
  margin-right: 35px;
}

.uber-eats-text-picture {
  width: 125px;
}

.h-header-middle {
  display: none;
  align-items: center;
}

.header-input-delivery-address {
  background-color: rgb(230, 230, 230);
}

.h-header-right {
  margin-right: 35px;
  display: flex;
  align-items: center; 
}

