body {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

h1, h2, h3, p, a, div {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

button, a, svg, select {
  cursor: pointer;
}

